@page
@model Cabinet_Veterinar.Pages.Proprietari.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Proprietari</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Proprietar[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proprietar[0].Email)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Proprietar) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    
            </td>
        </tr>
}
    </tbody>
</table>
